<% content_for :body_content_left do %>
  <ul id="courses">
    <% @courses.each do |course| %>
      <li>
        <%= link_to course.name, refinery.enrollment_course_path(course) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
