<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Enrollment::Admin::CoursesController.sortable? and ::Refinery::Enrollment::Course.count > 1 %>
